@using CarZone.Entities.Enums;
@model Pagamento
@{
    ViewData["Title"] = "Pagamento";
}

<div class="text-center">

    <p class="display-6">Editar método de pagamento</p>
    <br />


    <form asp-controller="Pagamentos" asp-action="Editar" method="post">

        <input type="hidden" asp-for="Id" />

        <div class="row mb-3">
            <label for="Metodo" class="col-sm-2 col-form-label">Método de Pgto</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="NomePagamento">
            </div>
        </div>


        <div class="row mb-3">
            <div class="btn-group" button-type="button">
                <label asp-for="CategoriaVeiculo" class="col-sm-2 col-form-label">Categoria</label>
                <div class="col-sm-auto">
                    <select asp-for="CategoriaVeiculo"
                            class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                        <option value="" disabled selected hidden>Selecione</option>
                        <option value="@(Convert.ToInt32(CategoriaVeiculo.Comum))">Comum</option>
                        <option value="@(Convert.ToInt32(CategoriaVeiculo.SUV))">SUV</option>
                        <option value="@(Convert.ToInt32(CategoriaVeiculo.Van))">Van</option>
                        <option value="@(Convert.ToInt32(CategoriaVeiculo.Motocicleta))">Motocicleta</option>
                        <option value="@(Convert.ToInt32(CategoriaVeiculo.Comercial))">Comercial</option>
                    </select>
                    @Html.ValidationMessageFor(x => x.CategoriaVeiculo)
                </div>
            </div>
        </div>
    
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Editar Método</button>
    <a class="btn btn-primary" asp-controller="Pagamentos" asp-action="Index">Voltar</a>
    </form>
</div>