@model List<Pagamento>
@{
    ViewData["Title"] = "Tipos de Pagamentos";
}

<div class="text-center">
    <p class="display-6">Lista de Pagamentos</p>
    <br />
    <a class="btn btn-outline-danger btn-sm" asp-controller="Pagamentos" asp-action="CriarPagamento">Criar Pagamento</a>
    <br />
    <br />


    <div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th class="d-none">Id</th>
                    <th scope="col">Pagamento</th>
                    <th scope="col">Categoria Veiculo</th>
                    <th scope="col">Meses</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (Pagamento pag in Model)
                    {
                        <tr>
                            <th class="d-none">@pag.Id</th>
                            <td>@pag.NomePagamento</td>
                            <td>@pag.CategoriaVeiculo</td>
                            <td>@pag.Meses</td>
                            <td>
                                <a type="button" class="btn btn-outline-dark" asp-controller="Pagamentos" asp-route-id="@pag.Id" asp-action="EditarPagamento">Editar</a>
                                <a type="button" class="btn btn-outline-dark" asp-controller="Pagamentos" asp-route-id="@pag.Id" asp-action="ApagarConfirmacao">Apagar</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>