@model List<CarZone.Models.Tarefas>

<section class="col-lg-7 connectedSortable">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">To Do List (Default)</h3>
        </div>
        <div class="card-body">
            <ul class="todo-list" data-widget="todo-list">
                @foreach (var item in Model)
                {
                    <li id="todoItem_@item.Id" class="@((item.Concluido) ? "completed" : "")" data-todoid="@item.Id">
                        <span class="handle">
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </span>
                        <div class="icheck-primary d-inline ml-2">
                            <input type="checkbox" id="todoCheck@item.Id" @(item.Concluido ? "checked" : "") data-todoid="@item.Id">
                            <label for="todoCheck@item.Id"></label>
                        </div>
                        <span class="text">@item.Descricao</span>
                    </li>
                }
            </ul>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTodoModal">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</section>
<form id="checkTodoForm" method="post" action="/Home/CheckTodoItem">
    @Html.AntiForgeryToken()
    <input type="hidden" id="todoId" name="id" value="">
</form>

<script src="~/js/pages/home/todo.js"></script>