@model CarZone.Models.ViewModels.HomepageVM

@{
    ViewData["Title"] = "Inicio";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="logo-home">
    <h1 class="display-2 text-center">CARZONE</h1>
</div>

<div class="containerHome">
    <div class="row">
        <div class="box boxVeiculos">
            <div class="numerosBox">
                @Model.TotalVeiculos
            </div>
            <div class="categoria">Veiculos</div>
            <img class="icons" src="/images/boxveiculos.png" />
            <div class="detalhes detalhesVeiculos"><a href="@Url.Action("Index", "Veiculos")">➕ Detalhes</a></div>
        </div>

        <div class="box boxClientes">
            <div class="numerosBox">@Model.TotalClientes</div>
            <div class="categoria">Clientes</div>
            <img class="icons" src="/images/boxclientes.png" />
            <div class="detalhes detalhesClientes"><a href="@Url.Action("Index", "Clientes")">➕ Detalhes</a></div>
        </div>

        <div class="box boxVendas">
            <div class="numerosBox">@Model.TotalVendas</div>
            <div class="categoria">Vendas</div>
            <img class="icons" src="/images/boxvendas.png" />
            <div class="detalhes detalhesVendas"><a href="@Url.Action("Index", "Vendas")">➕ Detalhes</a></div>
        </div>

        <div class="atalhos">
            <p id="atalho">Atalhos</p>
            <div class="icon-row">
                <a href="@Url.Action("Criar", "Clientes")"><img src="/images/atalhocliente.png" /></a>
                <a href="@Url.Action("Criar", "Veiculos")"><img src="/images/atalhoveiculo.png" style="margin-left: 57px;" /></a>
            </div>

            <div class="icon-row">
                <a href="@Url.Action("Criar", "Vendas")"><img src="/images/atalhovenda.png" /></a>
                <a href="@Url.Action("Index", "RelatorioVenda")"><img src="/images/relatorio.png" style="margin-left: 57px;" /></a>
            </div>
        </div>

    </div>
</div>


<div class="chart">
    <div class="rowChart">
        <div class="col-md-8 col-sm-6" id="grafico">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/chart-script.js"></script>