@model CarZone.Models.ViewModels.HomepageVM 

@{
    ViewData["Title"] = "Inicio";
}



<div class="logo-home">
    <h1 class="display-2 text-center">CARZONE</h1>
</div>

<div class="containerHome">
    <div class="boxVeiculos">
        <div class="numerosBox">
            @Model.TotalVeiculos
        </div>
        <div class="categoria">Veiculos</div>
        <img class="imagebox" src="/images/boxveiculos.png" />
        <div class="detalhesVeiculos"><a href="@Url.Action("Index", "Veiculos")">➕ Detalhes<a/></div>
    </div>

    <div class="boxClientes">
        <div class="numerosBox">@Model.TotalClientes</div>
        <div class="categoria">Clientes</div>
        <img class="iconcliente" src="/images/boxclientes.png" />
        <div class ="detalhesClientes"><a href="@Url.Action("Index", "Clientes")">➕ Detalhes</a></div>
    </div>

    <div class="boxVendas">
        <div class="numerosBox">@Model.TotalVendas</div>
        <div class="categoria">Vendas</div>
        <img class="iconVendas" src="/images/boxvendas.png" />
        <div class="detalhesVendas"><a href="@Url.Action("Index", "Vendas")">➕ Detalhes</a></div>
    </div>

    <div class="atalhos">
        <p>Atalhos</p>

        <div style="margin-left: -50px; margin-top:-15px;">
            <a href="@Url.Action("Criar", "Clientes")"><img src="/images/atalhocliente.png" /></a>
            <a href="@Url.Action("Criar", "Veiculos")"><img src="/images/atalhoveiculo.png" style="margin-left: 57px;" /></a>
        </div>

        <div style="margin-left: -50px; margin-top:37px;">
            <a href="@Url.Action("Criar", "Vendas")"><img src="/images/atalhovenda.png" /></a>
            <img src="/images/relatorio.png" style="margin-left: 57px;" />
        </div>
    </div>

</div>
