@using CarZone.Models.ViewModels;
@model List<VendasVM>
@{
    ViewData["Title"] = "Lista de Vendas";
}



<div class="text-center">
    <p class="display-6">Lista de Vendas</p>
    <br />
    <a class="btn btn-outline-danger btn-sm" asp-controller="Vendas" asp-action="Criar">Cadastrar Venda</a>
    <br />
    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <div class="text-center">
        <table class="table-centered" id="paginacao">
            <thead>
                <tr>
                    <th class="d-none">Id</th>
                    <th scope="col" class="text-center">Data da Venda</th>
                    <th scope="col" class="text-center">Marca</th>
                    <th scope="col" class="text-center">Veiculo</th>
                    <th scope="col" class="text-center">Cliente</th>
                    <th scope="col" class="text-center">Pagamento</th>
                    <th scope="col" class="text-center">Qtd Meses</th>
                    <th scope="col" class="text-center">Vendedor</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.Any())
                {
                    foreach (VendasVM sell in Model)
                    {
                        <tr>
                            <th class="d-none">@sell.Id</th>
                            <td>
                                <span>@sell.DataVenda.ToString("dd/MM/yyyy")</span>
                            </td>
                            <td>@sell.Marca</td>
                            <td>@sell.Modelo</td>
                            <td>@sell.Cliente</td>
                            <td>@sell.Pagamento</td>
                            <td>@sell.Meses</td>
                            <td>@sell.VendedorId</td>
                            <td>
                                <a type="button" class="btn btn-outline" asp-controller="Vendas" asp-route-id="@sell.Id" asp-action="Editar"><i class="bi bi-pencil"></i></a>
                                <button type="button" class="btn btn-outline btn-delete" data-toggle="modal" data-target="#modalDelete_@sell.Id"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

@foreach (VendasVM vendas in Model)
{
    <div class="modal fade" id="modalDelete_@vendas.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color:transparent; border:none;">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    Deseja realmente excluir a venda do cliente @vendas.Cliente?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" asp-controller="Vendas" asp-route-id="@vendas.Id" asp-action="Apagar">Excluir</a>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="modal"]').click(function () {
                var target = $(this).data('target');
                $(target).modal('show');
            });

            $('.modal').on('click', '.btn-secondary', function () {
                $(this).closest('.modal').modal('hide');
            });

            $('.modal').on('click', '[data-dismiss="modal"]', function () {
                $(this).closest('.modal').modal('hide');
            });
        });
    </script>
}