@model List<Venda>
@{
    ViewData["Title"] = "Lista de Vendas";
}

<div class="text-center">
    <p class="display-6">Lista de Vendas</p>
    <br />
    <a class="btn btn-outline-danger btn-sm" asp-controller="Vendas" asp-action="CadastrarVenda">Cadastrar Venda</a>
    <br />
    <br />
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Data da Venda</th>
                <th scope="col">Pagamento</th>
                <th scope="col">VeiculoId</th>
                <th scope="col">ClienteId</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null && Model.Any())
            {
                foreach (Venda sell in Model)
                {
                    <tr>
                        <th scope="row">@sell.Id</th>
                        <td>
                            @Html.DisplayFor( x => sell.DataVenda, "{0:dd/MM/yyyy}")
                        </td>
                        <td>@sell.PagamentoId</td>
                        <td>@sell.ModeloId</td>
                        <td>@sell.ClienteId</td>
                        <td>
                            <a type="button" class="btn btn-outline-dark" asp-controller="Vendas" asp-route-id="@sell.Id" asp-action="EditarVenda">Editar</a>
                            <a type="button" class="btn btn-outline-dark" asp-controller="Vendas" asp-route-id="@sell.Id" asp-action="ApagarConfirmacao">Apagar</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>