@using CarZone.Models.ViewModels
@model List<ModeloVeiculoVM>
@{
    ViewData["Title"] = "Lista de Modelos";
}

<div class="text-center">
    <p class="display-6">Lista de Modelos</p>
    <br />
    <a class="btn btn-outline-danger btn-sm" asp-controller="ModeloVeiculos" asp-action="Criar">Adicionar Modelo</a>
    <br />
    <br />


    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
            @TempData["MensagemErro"]
        </div>
    }


    <div class="text-center">
        <table class="table" id="paginacao">
            <thead>
                <tr>
                    <th class="d-none">Id</th>
                    <th scope="col" class="text-center">Nome de Modelo</th>
                    <th scope="col" class="text-center">Marca</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (ModeloVeiculoVM modelo in Model)
                    {
                        <tr>
                            <th class="d-none">@modelo.Id</th>
                            <td>@modelo.NomeModelo</td>                            
                            <td>@modelo.Marca</td> 
                            <td>
                                <a type="button" class="btn btn-outline" asp-controller="ModeloVeiculos" asp-route-id="@modelo.Id" asp-action="EditarModelo"><i class="bi bi-pencil"></i></a>
                                <a type="button" class="btn btn-outline btn-delete" asp-controller="ModeloVeiculos" asp-route-id="@modelo.Id" asp-action="ApagarConfirmacao"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>