@model Veiculo
@using CarZone.Entities.Enums;
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Adicionar Veiculo";
}

<div class="text-center">

    <p class="display-6">Cadastro de Veiculos</p>
    <br />
</div>

<form class="row mb-3" asp-controller="Veiculos" asp-action="Criar" method="post">


    <div class="row mb-3">
        <label for="Marcas" class="col-sm-2 col-form-label">Marcas</label>
        <div class="col-sm-10">
            <select name="MarcaId" asp-for="MarcaId" class="form-select" asp-items="@ViewBag.Marcas">
                <option value="" disabled selected hidden>Selecione a Marca</option>
            </select>
            @Html.ValidationMessageFor(x => x.MarcaId)
        </div>
    </div>
    <br />

    <div class="row mb-3">
        <label for="Modelos" class="col-sm-2 col-form-label">Modelos</label>
        <div class="col-sm-10">
            <select name="ModeloId" asp-for="ModeloId" class="form-control" asp-items="@ViewBag.Modelos">
                <option value="" disabled selected hidden>Selecione o Modelo</option>
            </select>
            @Html.ValidationMessageFor(x => x.ModeloId)
        </div>
    </div>
    <br />

    <div class="row mb-3">
        <label for="anoVeiculo" class="col-sm-2 col-form-label">Ano</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="anoVeiculo" asp-for="Ano" placeholder="Digite o ano" />
            @Html.ValidationMessageFor(x => x.Ano)
        </div>
    </div>

    <div class="row mb-3">
        <label for="precoVeiculo" class="col-sm-2 col-form-label">Preço</label>
        <div class="col-sm-10">
            <input type="any" class="form-control" asp-for="Preco"  placeholder="Digite o preço">            
            @Html.ValidationMessageFor(x => x.Preco)
        </div>
    </div>

    <div class="row mb-3">
        <label for="veiculoPlaca" class="col-sm-2 col-form-label">Placa</label>
        <div class="col-sm-10">
            <input type="any" class="form-control" id="veiculoPlaca" asp-for="Placa" placeholder="Digite a placa">
            @Html.ValidationMessageFor(x => x.Placa)
        </div>
    </div>

    <div class="row mb-3">
        <div class="btn-group" button-type="button">
            <label asp-for="StatusVenda" class="col-sm-2 col-form-label">Status Veiculo </label>
            <div class="col-sm-2 col-form-label">
                <select asp-for="StatusVenda" class="btn btn-success" data-bs-toggle="dropdown" aria-expanded="false">

                    <span class="visually-hidden">Toggle Dropdown</span>
                    <option value="" disabled selected hidden>Selecione</option>
                    <option value="@(Convert.ToInt32(StatusVenda.Disponível))">Disponivel</option>
                    <option value="@(Convert.ToInt32(StatusVenda.Vendido))">Vendido</option>
                    <option value="@(Convert.ToInt32(StatusVenda.Entregue))">Entregue</option>                    
                </select>               
            </div>
            @Html.ValidationMessageFor(x => x.StatusVenda)
            <br />
        </div>
    </div>



    <div class="text-center">
        <br />
        <button type="submit" class="btn btn-primary" asp-controller="Veiculos" asp-action="Criar" formmethod="post">Adicionar</button>
        <a class="btn btn-primary" asp-controller="Veiculos" asp-action="Index">Voltar</a>
    </div>

</form>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#MarcaId').change(function () {
                var marcaId = $(this).val();
                $.ajax({
                    url: '/Veiculos/ModelosPorMarca',
                    type: 'GET',
                    data: { marcaId: marcaId },
                    success: function (data) {
                        var modelosDropdown = $('#ModeloId');
                        modelosDropdown.empty();
                        $.each(data, function (i, modelo) {
                            modelosDropdown.append($('<option></option>').val(modelo.id).text(modelo.nomeModelo));
                        });
                    }
                });
            });
        });
    </script>


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
                    }