@using CarZone.Models.ViewModels;
@model List<VeiculosVM>
@{
    ViewData["Title"] = "Lista de Veiculos";
}

<div class="text-center">
    <h1 class="display-1">CarZone</h1>
    <p class="display-6">Lista de Veiculos</p>
    <br />
    <a class="btn btn-outline-danger btn-sm" asp-controller="Veiculos" asp-action="Criar">Adicionar Veiculos</a>
    <br />
    <br />


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemErro"]
    </div>
}


    <div class="text-center">
        <table class="table" id="paginacao">
            <thead>
                <tr>
                    <th class="d-none">Id</th>
                    <th scope="col" class="text-center">Marca</th>
                    <th scope="col" class="text-center">Modelo</th>
                    <th scope="col" class="text-center">Ano</th>
                    <th scope="col" class="text-center">Preço</th>
                    <th scope="col" class="text-center">Placa</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (VeiculosVM veiculos in Model)
                    {
                        <tr>
                            <th class="d-none">@veiculos.Id</th>
                            <td>@veiculos.Marca</td>
                            <td>@veiculos.Modelo</td>
                            <td>@veiculos.Ano</td>
                            <td>
                             @Html.DisplayFor( x => veiculos.Preco)
                            </td>
                            <td>@veiculos.Placa</td>
                            <td>@veiculos.StatusVenda</td>
                            <td>
                                <a type="button" class="btn btn-outline" asp-controller="Veiculos" asp-route-id="@veiculos.Id" asp-action="Atualizar"><i class="bi bi-pencil"></i></a>
                                <a type="button" class="btn btn-outline btn-delete" asp-controller="Veiculos" asp-route-id="@veiculos.Id" asp-action="ApagarConfirmacao"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>