@model List<Veiculo>
@{
    ViewData["Title"] = "Lista de Veiculos";
}

<div class="text-center">
    <h1 class="display-1">CarZone</h1>
    <p class="display-6">Lista de Veiculos</p>
    <br />
    <a class="btn btn-outline-danger btn-sm" asp-controller="Veiculos" asp-action="Criar">Adicionar Veiculos</a>
    <br />
    <br />
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Ano</th>
                <th scope="col">Preço</th>
                <th scope="col">Placa</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Veiculo veiculos in Model)
                {
                    <tr>
                        <th scope="row">@veiculos.Id</th>
                        <td>@veiculos.MarcaId</td>
                        <td>@veiculos.ModeloId</td>
                        <td>@veiculos.Ano</td>
                        <td>@veiculos.Preco</td>
                        <td>@veiculos.Placa</td>
                        <td>@veiculos.StatusVenda</td>
                        <td>
                            <a type="button" class="btn btn-outline-dark" asp-controller="Veiculos" asp-action="Editar">Editar</a>
                            <a type="button" class="btn btn-outline-dark" asp-controller="Veiculos" asp-action="ApagarConfirmacao">Apagar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>