@using CarZone.Models.ViewModels;
@model List<VeiculosVM>
@{
    ViewData["Title"] = "Lista de Veiculos";
}

<div class="text-center">
    <p class="display-6">Lista de Veiculos</p>
    <br />
    <a class="btn btn-outline-danger btn-sm" asp-controller="Veiculos" asp-action="Criar">Adicionar Veiculos</a>
    <br />
    <br />


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemErro"]
    </div>
}


    <div class="text-center">
        <table class="table" id="paginacao">
            <thead>
                <tr>
                    <th class="d-none">Id</th>
                    <th scope="col" class="text-center">Marca</th>
                    <th scope="col" class="text-center">Modelo</th>
                    <th scope="col" class="text-center">Ano</th>
                    <th scope="col" class="text-center">Preço</th>
                    <th scope="col" class="text-center">Placa</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (VeiculosVM veiculos in Model)
                    {
                        <tr>
                            <th class="d-none">@veiculos.Id</th>
                            <td>@veiculos.Marca</td>
                            <td>@veiculos.Modelo</td>
                            <td>@veiculos.Ano</td>
                            <td>@veiculos.Preco.ToString("c2")</td>
                            <td>@veiculos.Placa</td>
                            <td>@veiculos.StatusVenda</td>
                            <td>
                                <a type="button" class="btn btn-outline" asp-controller="Veiculos" asp-route-id="@veiculos.Id" asp-action="Atualizar"><i class="bi bi-pencil"></i></a>
                                <button type="button" class="btn btn-outline btn-delete" data-toggle="modal" data-target="#modalDelete_@veiculos.Id"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>

@foreach (VeiculosVM veiculos in Model)
{
    <div class="modal fade" id="modalDelete_@veiculos.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color:transparent; border:none;">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    Deseja realmente excluir @veiculos.Modelo da placa @veiculos.Placa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" asp-controller="Veiculos" asp-route-id="@veiculos.Id" asp-action="Apagar">Excluir</a>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="modal"]').click(function () {
                var target = $(this).data('target');
                $(target).modal('show');
            });

            $('.modal').on('click', '.btn-secondary', function () {
                $(this).closest('.modal').modal('hide');
            });

            $('.modal').on('click', '[data-dismiss="modal"]', function () {
                $(this).closest('.modal').modal('hide');
            });
        });
    </script>
}