@model List<Cliente>
@{
    ViewData["Title"] = "Lista de Clientes";
}

<div class="text-center">
    <h1 class="display-1">CarZone</h1>
    <p class="display-6">Lista de Clientes</p>
    <br />
    <a class="btn btn-outline-danger btn-sm" asp-controller="Clientes" asp-action="Criar">Cadastrar Cliente</a>
    <br />
    <br />
</div>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemErro"]
    </div>
}


<div class="text-center">
    <table id="paginacao" class="table-th">
        <thead>
            <tr>
                <th class="d-none">Id</th>
                <th scope="col" class="text-center">Nome</th>
                <th scope="col" class="text-center">CPF</th>
                <th scope="col" class="text-center">Telefone</th>
                <th scope="col" class="text-center">Endereço</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            
                @if (Model != null && Model.Any())
                {
                    foreach (Cliente cliente in Model)
                {
                    string cpfFormatado = String.Format("{0:000\\.000\\.000\\-00}", long.Parse(cliente.CPF));
                    string telefoneFormatado = String.Format("{0:(00) 00000-0000}", long.Parse(cliente.Telefone));
                    <tr>
                        <th class="d-none">@cliente.Id</th>
                        <td>@cliente.Nome</td>
                        <td>@cpfFormatado</td>
                        <td>@telefoneFormatado</td>
                        <td>@cliente.Endereco</td>
                        <td>
                            <a type="button" class="btn btn-outline-dark" asp-controller="Clientes" asp-route-id="@cliente.Id" asp-action="AlterarCliente">Editar</a>
                            <a type="button" class="btn btn-outline-dark" asp-controller="Clientes" asp-route-id="@cliente.Id" asp-action="ApagarConfirmacao">Apagar</a>
                        </td>
                    </tr>
                }
                }

        </tbody>
    </table>
    </div>

     @section Scripts{
        <script>

        // Formata o CPF com pontos e hífens
        function formatarCPF(cpf) {
            const cpfFormatado = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
            return cpfFormatado;
        }

        const cpfElemento = document.getElementById('cpfCliente');
        const cpf = cpfElemento.textContent;

        // Formata o CPF e atualiza o elemento com o CPF formatado
        cpfElemento.textContent = formatarCPF(cpf);            

            function formatarTelefone(telefone) {
                const telefoneFormatado = cpf.replace("(\d{ 2})(\d{ 4})(\d{4})", '($1)$2 - $3');
                return telefoneFormatado
            }
            const telElemento = document.getElementById('telefoneCliente');
            const telefone = telElemento.textContent;

        </script>
    } 
